body {
    background-color: #ffffff;
}

.no-underline {
    text-decoration: none;
}

.movie-card {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.02);
    z-index: 1;
}

.movie-card:active {
    transform: scale(0.98);
    z-index: 1;
}

.movie-card:active img {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.movie-card:hover img {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  }
  

img {
    width: 100%;
    height: auto;
    display: block; 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.2s ease-in-out;  
}

h1 {
    font-size: 21px;
}

h2 {
    color: black;
    margin: 0;
    font-size: 15px;
}

h3 {
    color: rgba(0, 0, 0, 0.56);
    margin: 0;
    padding: 5px 0px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}

h4 {
    color: rgba(0, 0, 0, 0.56);
    margin: 0;
    padding: 5px 0px;
    font-size: 10px;
}


.star-rating {
    display: inline-block;
    font-size: 0;
    position: relative;
    color: #ddd;
  }
  
  .star-rating .star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/57/star-2062767_960_720.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .star-rating .star:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
  }
  
  .star-rating .star:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2017/02/15/10/57/star-2062767_960_720.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  